<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>334705934269-l9debrg3uhaud8taktlfgrlot4miuidr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.334705934269-l9debrg3uhaud8taktlfgrlot4miuidr</string>
	<key>API_KEY</key>
	<string>AIzaSyD8fZXEwhfqmTPOcU4WShrNwVRrQQla0zU</string>
	<key>GCM_SENDER_ID</key>
	<string>334705934269</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.golak.mobile</string>
	<key>PROJECT_ID</key>
	<string>golak-3a756</string>
	<key>STORAGE_BUCKET</key>
	<string>golak-3a756.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:334705934269:ios:dc7f7e15644e0ce3</string>
	<key>DATABASE_URL</key>
	<string>https://golak-3a756.firebaseio.com</string>
</dict>
</plist>